django>=4.2,<6.1
djangorestframework>=3.15
django-cors-headers>=4.4
spacy>=3.7
scikit-learn>=1.5
numpy>=1.26
pymupdf>=1.24
python-docx>=1.1
openai>=1.40
djangorestframework-simplejwt>=5.3.1
faiss-cpu>=1.8.0
sentence-transformers>=3.0.0
dj-database-url>=2.1.0
psycopg2-binary>=2.9.9
